@import '../../../variables.scss';

.info-popup {
  background-color: rgba($color-beige, .95) !important;
  border: 0.4rem solid $color-steel-blue !important;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba($color-charcoal, 0.3);
  z-index: 1000;
  max-width: 40vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  transform: translateX(-50%);
}

.tooltip-image {
  width: 8vw;
  background-color: rgba($color-charcoal, .75) !important;
  min-width: 100px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.tooltip-text {
  border-left: .5rem solid $color-steel-blue !important;
  padding-left: .2rem;
  flex: 1;
  text-align: left;
  align-self: stretch;
  margin-top: auto;
}
