@import '../../../variables.scss';

.custom-switch {
  .form-check-input {
    background-color:  $color-charcoal !important;
    //border: 0.2rem solid $color-dark-red !important;
    &:checked {
      background-color: $color-steel-blue !important;
      //border-color: $color-charcoal !important;
    }
    &::before {
      content: '';
      background-color: $color-beige !important;
    }
    &:hover {
      box-shadow: 0 0 10px rgba($color-charcoal, 0.3) !important;
    }

    &:focus {
      box-shadow: 0 0 10px rgba($color-goldenrod, 0.5) !important;
    }
  }
  .form-check-label {
    color: $color-charcoal !important;
    cursor: pointer;

    &:hover {
      color: $color-dark-red !important;
    }
  }
}

.custom-switch{
  margin-bottom: 1rem;
}
