//External Fonts from Google
$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'IBM Plex Serif', serif;
$font-title: 'Caesar Dressing', cursive;

//Colours
$color-beige: #F5F5DC;
$color-goldenrod: #DAA520;
$color-olive: #808000;
$color-steel-blue: #4682B4;
$color-dark-red: #8B0000;
$color-charcoal: #2C2C2C;

//Sizes
$base-font-size: 18px;
$line-height: 1.6;

//Various
$breadcrumb-link: $color-steel-blue;
$breadcrumb-active: $color-steel-blue;
$breadcrumb-divider: $color-dark-red;



